button, div, form, input {
  margin: 10px;
}

#gifcontainer {
    float: left;
    height: 1600px;
    width: 1300px;
    border-style: solid;
    border-color: black;
}

.container {
    float: right;
}

.gif {
    width: 400px;
    height: 300px;
    border-style: solid;
    border-color: black;
}

#gif0 {
    float: left;
}

#gif1 {
    float: left;
}

#gif2 {
    float: left;
}

#gif3 {
    float: left;
    clear: left;
}

#gif4 {
    float: left;
}

#gif5 {
    float: left;
}

#gif6 {
    float: left;
    clear: left;
}

#gif7 {
    float: left;  
}

#gif8 {
    float: left;
}

#gif9 {
    float: left;
    clear: left;
}